<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.game.rl">

    <application>
        <receiver
            android:name=".RLTaskReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.game.rl.intent.action.RESET" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
